/*  your css code here. If applicable */
table{
	width:100%;
	
	
	padding:1px;
}

 #table-2{
	height:100px;
	/*border: 1px solid rgb(0,0,0);	*/
	padding:1px;
	 
}

#table-3{
	height:100px;
	padding:1px;
	cell-padding: 1px;
	/*border: 1px solid black; */
}

#table-1{
	height:100px;
	padding:1px;
	/*border: 1px solid black;*/ 
	 
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}