/*  your css code here. If applicable */
table{
	width:100%;
	
	
	padding:1px;
}

 #table-2{
	height:100px;
	 
	
	 padding:1px;
	 
}

#table-3{
	height:100px;
	padding:1px;
	 
	 
	 
}

#table-1{
	height:100px;
	padding:1px;
	 
	 
}
